<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=BabysitterU1cqk;pwd=&quot;@D/5;G=(Lour&quot;;database=Babysitters" name="Babysitters" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
